<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SA2_NAME21</th>
      <th>SA2_CODE21</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bendigo</td>
      <td>202011018</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Rosebud - McCrae</td>
      <td>214021384</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Wonthaggi - Inverloch</td>
      <td>205031093</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Canadian - Mount Clear</td>
      <td>201011483</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Phillip Island</td>
      <td>205031091</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Alfredton</td>
      <td>201011001</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Newport</td>
      <td>213021344</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Burnside Heights</td>
      <td>213041462</td>
    </tr>
    <tr>
      <th>8</th>
      <td>North Geelong - Bell Park</td>
      <td>203021047</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Ballarat</td>
      <td>201011002</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Yarraville</td>
      <td>213031352</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Geelong West - Hamlyn Heights</td>
      <td>203021040</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Albert Park</td>
      <td>206051128</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Williamstown</td>
      <td>213021346</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Point Nepean</td>
      <td>214021383</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ashwood - Chadstone</td>
      <td>212051319</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Torquay</td>
      <td>203031053</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Cranbourne South</td>
      <td>212031303</td>
    </tr>
    <tr>
      <th>18</th>
      <td>East Bendigo - Kennington</td>
      <td>202011020</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Oakleigh - Huntingdale</td>
      <td>212051326</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Cranbourne</td>
      <td>212031300</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Charlemont</td>
      <td>203021485</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Ballarat North - Invermay</td>
      <td>201011482</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Sale</td>
      <td>205051103</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Barwon Heads - Armstrong Creek</td>
      <td>203031489</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Frankston North</td>
      <td>214011372</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Glen Waverley - West</td>
      <td>212051322</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Flora Hill - Spring Gully</td>
      <td>202011021</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Wendouree - Miners Rest</td>
      <td>201011008</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Altona</td>
      <td>213021341</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Narre Warren - South West</td>
      <td>212021456</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Melton</td>
      <td>213041577</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Brighton East</td>
      <td>208011170</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Wangaratta</td>
      <td>204021066</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Manor Lakes - Quandong</td>
      <td>213051579</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Warragul</td>
      <td>205011079</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Kangaroo Flat - Golden Square</td>
      <td>202011022</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Wodonga</td>
      <td>204031492</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Glen Waverley - East</td>
      <td>212051321</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Daylesford</td>
      <td>201021011</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Brighton (Vic.)</td>
      <td>208011169</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Hoppers Crossing - South</td>
      <td>213051362</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Mildura - North</td>
      <td>215021469</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Berwick - North</td>
      <td>212021293</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Frankston</td>
      <td>214011371</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Braybrook</td>
      <td>213031347</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Chelsea - Bonbeach</td>
      <td>208031186</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Bentleigh - McKinnon</td>
      <td>208021174</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Shepparton - North</td>
      <td>216031416</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Altona Meadows</td>
      <td>213021342</td>
    </tr>
  </tbody>
</table>