<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SA2_NAME21</th>
      <th>SA2_CODE21</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Prahran - Windsor</td>
      <td>206061136</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Elwood</td>
      <td>206051129</td>
    </tr>
    <tr>
      <th>2</th>
      <td>North Melbourne</td>
      <td>206041506</td>
    </tr>
    <tr>
      <th>3</th>
      <td>St Kilda - Central</td>
      <td>206051513</td>
    </tr>
    <tr>
      <th>4</th>
      <td>St Kilda - West</td>
      <td>206051514</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Albert Park</td>
      <td>206051128</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Malvern - Glen Iris</td>
      <td>208041194</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Toorak</td>
      <td>206061138</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Carlton</td>
      <td>206041117</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Brunswick West</td>
      <td>206011107</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Malvern East</td>
      <td>208041195</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Hawthorn East</td>
      <td>207011152</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Carnegie</td>
      <td>208021176</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Ormond - Glen Huntly</td>
      <td>208021182</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Footscray</td>
      <td>213031348</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Elsternwick</td>
      <td>208021179</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Armadale</td>
      <td>206061135</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Docklands</td>
      <td>206041118</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Fitzroy</td>
      <td>206071142</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Thornbury</td>
      <td>206021112</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Port Melbourne</td>
      <td>206051130</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Essendon - East</td>
      <td>206031502</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Melbourne CBD - North</td>
      <td>206041504</td>
    </tr>
    <tr>
      <th>23</th>
      <td>South Melbourne</td>
      <td>206051512</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Carlton North - Princes Hill</td>
      <td>206071140</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Fitzroy North</td>
      <td>206071143</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Sandringham - Black Rock</td>
      <td>208011173</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Collingwood</td>
      <td>206071141</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Hampton</td>
      <td>208011172</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Flemington</td>
      <td>206031115</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Hawthorn - South</td>
      <td>207011520</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Caulfield - North</td>
      <td>208021177</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Williamstown</td>
      <td>213021346</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Noble Park - East</td>
      <td>212041459</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Ascot Vale</td>
      <td>206031113</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Richmond (South) - Cremorne</td>
      <td>206071517</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Moonee Ponds</td>
      <td>206031116</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Box Hill</td>
      <td>207031163</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Yarraville</td>
      <td>213031352</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Brighton (Vic.)</td>
      <td>208011169</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Camberwell</td>
      <td>207011149</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Mentone</td>
      <td>208031190</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Caulfield - South</td>
      <td>208021178</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Richmond - North</td>
      <td>206071518</td>
    </tr>
    <tr>
      <th>44</th>
      <td>West Melbourne - Residential</td>
      <td>206041510</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Maribyrnong</td>
      <td>213031349</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Burwood (Vic.)</td>
      <td>207031165</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Abbotsford</td>
      <td>206071139</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Clifton Hill - Alphington</td>
      <td>206071145</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Mordialloc - Parkdale</td>
      <td>208031193</td>
    </tr>
  </tbody>
</table>